.nextpage {
  position: relative;
}

.world {
  max-width: 70%;
  max-height: 70vh;
  display: block;
  margin: auto;
  left: 5%;
}

.text {
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: left;
}

.text h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.text p {
  margin: 5px 0;
  font-size: 30px !important;
  padding: 5px;
}

span {
  color: rgb(0, 80, 114);
  font-weight: bold;
}